apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: apps
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 713923090919.dkr.ecr.us-east-1.amazonaws.com/backend:1.0
          ports:
            - containerPort: 8000
